{% extends "layout.html" %}

{% block title %}
    Filminformatie
{% endblock %}

{% block main %}
<style>
  #wrap {
     width:95%;
     margin:0 auto;
  }
  #linkerkolom {
     float:left;
     width:25%;
     padding: 20px;
  }
  #rechterkolom {
     float:right;
     width:75%;
  }
  #linker {

  }
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    #linkerkolom {
      width: 100%;
    }
    #rechterkolom {
      width: 100%;
    }
  }

</style>

<center><h3>{{tmdb.original_title}}</h3></center>
<hr>
  <div id="wrap">
    <div id="linkerkolom">
      <p>
        <img src="http://image.tmdb.org/t/p/w185{{tmdb.poster_path}}" class="homepage_poster">
        <form action="/addfavorite" method="post">
          <div class="form-group">
            <div class="col-sm-12 controls">
              {% if alfavo != True %}
              <p align="center">
                <button class="btn btn-outline-success" id="{{tmdb.id}}" type="submit" name="favorieten" value="{{tmdb.id}}"><i class="fa fa-plus" aria-hidden="true"></i> Favoriet</button>
              </p>
              {% endif %}
            </div>
          </div>
        </form>
        <form action="/removefavorite" method="post">
          <div class="form-group">
            <div class="col-sm-12 controls">
              {% if alfavo == True %}
              <p align="center">
                <button class="btn btn-outline-danger" id="{{tmdb.id}}" type="submit" name="geenfavo" value="{{tmdb.id}}">Verwijder uit favorieten</button>
              </p>
              {% endif %}
            </div>
          </div>
        </form>
        <form action="/tipvriend" method="post">
          <p align="center">
            <div class="dropdown">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tip een vriend
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <form class="dropdown-menu p-4">
                  <div class="form-group">
                    <center>
                      <label for="exampleDropdownFormPassword2"><b>Gebruikersnaam</b></label>
                      <input type="text" class="form-control" name="tipvriend" placeholder="Gebruikersnaam">
                    </center>
                  </div>
                  <center>
                    <button type="submit" class="btn btn-primary" name="buttonvriend" value="{{tmdb.id}}" >Tip vriend!</button>
                  </center>
                </form>
              </div>
            </div>


            <!--    {% for vriend in vrienden %}-->
            <!--    <a class="dropdown-item" type="submit">{{vriend.van}}</a>-->
            <!--    {% endfor %}-->
            <!--  </div>-->
            <!--</div>-->
    <!--      </p>-->
    <!--    </form>-->
      </p>
    </div>
      <div id="rechterkolom">

      {# Geen OMDb info gevonden #}
      {% if omdb == None %}

      {# Genoeg stemmen #}
      {% if tmdb.vote_count > 20 %}
        <h4 style="display: inline"><b>Score: </b></h4><h5 style="display: inline">{{tmdb.vote_average}}</h5>
        <p><a>Dit is een alternatieve score, afkomstig van <i>TheMovieDatabase</i> i.p.v. IMDb.</a></p>
        {# Niet genoeg stemmen #}
        {% else %}
        <h4 style="display: inline"><b>Score: </b></h4><h5 style="display: inline">Niet genoeg stemmen beschikbaar.</h5>
        {% endif %}
        <h3><b>Jaar: </b> {{tmdb.release_date[:4]}}</h3>
        <a><b>Omschrijving: </b>{{tmdb.overview}}</a>

        {# Wel OMDb info gevonden #}
        {% else %}

        <p><h4 style="display: inline"><b>Score: </b></h4><h5 style="display: inline">{{omdb.imdbRating}}</h5></p>

        <p><h4 style="display: inline"><b>Jaar: </b></h4><h5 style="display: inline">{{omdb.Year}}</h5></p>

        <p><h4><b>Regisseur(s): </b></h4><h6>{{omdb.Director}}</h6></p>

        <p><h4><b>Hoofdrolspelers: </b></h4><h6>{{omdb.Actors}}</h6></p>

        <p><h4><b>Schrijver(s): </b></h4><h6>{{omdb.Writer}}</h6></p>

        <h4><b>Omschrijving: </b></h4>
        <p>{{tmdb.overview}}</p>

        {% endif %}

      </div>
    </div>
  </hr>
{% endblock %}

