{% extends "layout.html" %}

{% block title %}
    Profiel
{% endblock %}

{% block main %}
<style type='text/css'>
  p {
    padding: 35px;
  }
</style>
<p>
  <center><h1>Verander hier je wachtwoord!</h1></center>
  <center>
    <form role="form" id="form-buscar">
      <div class="form-group">
          <span class="input-group-btn">
            <a href="{{ url_for('wachtwoordveranderen') }}" class="btn btn-info" role="button">Verander Wachtwoord</a>
          </span>
      </div>
    </form>
  </center>
</p>
{% endblock %}