{% extends "layout.html" %}

{% block title %}
    Verzoeken
{% endblock %}

{% block main %}
<center><bold><h3>Vriendschapsverzoeken</h3></bold></center>
<center><hr>
  <div class="form-group">
    <div class="col-md-12 control">
      {% for verzoek in verzoeken %}
        <p><h3>{{verzoek.van}} heeft je een vriendschapsverzoek gestuurd!
          <form action="/geaccepteerd" method="post">
            <input type="hidden" name="accepteren" value={{verzoek.van}}>
            <button class="btn btn-primary toevoegen" name="accepteren" type="submit">Vriend toevoegen</button>
          </form>
          <form action="/geweigerd" method="post">
            <input type="hidden" name="weigeren" value={{verzoek.van}}>
            <button class="btn btn-light weigeren" name="weigeren" type="submit">Weigeren</button>
          </form>
        </h3></p>
      {% endfor %}
    </div>
  </div>
</center>
{% endblock %}