{% extends "layout.html" %}

{% block title %}
    Vriendenlijst
{% endblock %}

{% block main %}
<center><bold><h3>Vriendenlijst</h3></bold></center>
<hr>
<center>
  {% for vriend in vrienden %}
  <p><h3>{{vriend.van}}</h3></p>
  {% endfor %}
</center>
<center><hr>
  <form action="{{ url_for('vriendenlijst') }}" method="post">
    <div class="form-group">
      <div class="col-md-12 control">
        <a href="{{ url_for('verzoeken') }}">Vriendschapsverzoeken</a>
      </div>
    </div>
  </form>
</center>
{% endblock %}