{% extends "layout.html" %}

{% block title %}
    Zoekresultaten
{% endblock %}

{% block main %}
<style>
  #container{
  text-align: center;
  }
</style>
<center><bold><h3>Zoekresultaten</h3></bold></center>
<hr>
  <center>
    <!-- Tabellen in JinJa; https://stackoverflow.com/questions/9198334/how-to-build-up-a-html-table-with-a-simple-for-loop-in-jinja2 -->

    <div id="container">
    {%- for i in zoekresultaten -%}
      {% if ( i.original_language == "nl" and session.user_id ) %}
      <form action="/filminfo" method="post">
        <input type="hidden" name="tmdb_id" value="{{i.id}}">
        <button type="submit" name="tmdb_id"><IMG src="http://image.tmdb.org/t/p/w185{{i.poster_path}}" title="{{i.title}} ({{i.release_date[:4]}})"></button>
      </form>
      {% elif ( i.original_language == "nl" and not session.user_id ) %}
      <form action="/filminfo_non" method="post">
        <input type="hidden" name="tmdb_id" value="{{i.id}}">
        <button type="submit" name="tmdb_id"><IMG src="http://image.tmdb.org/t/p/w185{{i.poster_path}}" title="{{i.title}} ({{i.release_date[:4]}})"></button>
      </form>
      {% endif %}
    {%- endfor -%}
    </div>

  </center>
</hr>
{% endblock %}